<h1>Registrations#new</h1>
<p>Find me in app/views/registrations/new.html.erb</p>

<%= form_for :user ,url: {action: "create"} do |form| %>
<table>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %> </td>
  </tr>
  <tr>
    <th><%= form.label :mail %></th>
    <td><%= form.text_field :mail %></td>
  </tr>
  <tr>
    <th><%= form.label :password %> </th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %> </th>
    <td><%= form.password_field :password_confirmation %> </td>
  <tr>
  <tr><td><%= form.submit 'ログイン' %></td> </tr>

</table>

<% end %>
